@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

* {
    font-family:'Open Sans', sans-serif;
}

/* Main navigation bar */
.navbar {
    display: flex;
    width: 100%;
    z-index: 2;
    position: fixed;
    background-color: #4B4237;
}

#navbarNav {
    justify-content: flex-end;
}

.wrapper {
    margin-left: 15%;
}

#sidebar {
    padding-top: 80px;
    width: 170px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #574e43;
    color: white;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#sidebar h3 {
    margin-bottom: 20px;
}

#sidebar li {
    margin: 20px 0;
}

#sidebar a {
    text-decoration: none;
    color: white;
}

#sidebar a:hover {
    color: #D5A021;
}

#sidebar a:focus {
    color: #816011;
}

.btn-outline-success {
    background-color: #D5A021;
    color: white;
    border: 1px solid white;
}

/*Getting Started Page*/

.gettingStarted {
    height: 500px;
    background-image: url("/UX_UI_FE_21/images/GETTINGSTARTED_HS.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}



#difficultyLevels {
    margin-bottom: 50px;
}

.beginnerPuzzles, .interPuzzles, .difficultPuzzles {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 25px;
    color: #736B60;
}

.btn {
        background-color: #D5A021;
    color: white;
    border: 1px solid white;
}

.beginner, .intermediate, .difficult {
    display: flex;
    justify-content: space-around;
}

/* Tips and Tricks Page */
.t_t {
    height: 500px;
    width: 100%;
    background-image: url("/UX_UI_FE_21/images/GETTINGSTARTED_HS.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.intro {
    margin-bottom: 50px;
}

h1, h3, h5 {
    margin-bottom: 25px;
}

h1 {
    font-family: 'Playfair Display', serif;
}

p {
    margin-bottom: 25px;
}

.tip1, .tip2, .tip3 {
    margin-bottom: 60px;
}

.ex {
    width: 50%;
    height: 50%;
}

.examples {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Related Hobbies Page */
.related {
    height: 500px;
    width: 100%;
    background-image: url("/UX_UI_FE_21/images/GETTINGSTARTED_HS.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.leggo, .boardGames {
    margin-top: 50px;
}

.centre {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

